<! DOCTYPE html>

<html lang = "en">

<head>

	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	
	<title> {% block title %}{% endblock title %} </title>
	
</head>
{% load static %}
<body style = "background:url ('{% static 'Skylantern.png' %}') no-repeat center center fixed; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; backgrouund-size:cover; width:device-width; height:700">

	{% load static %}
	<div class = "container-py" style = "background-color:orange; width:device-width; height:650;">
	
		<div class = "topnav" style = "width = device-width; background-color:orange;">
		
			<a class = "active" style = "color:black; margin-rights:30;" href = "/home"> 🏠️Home </a>
			<a style = "color:black; margin-left:30;" href = "/"> ️👤️Contact </a>
			<a style = "color:black; margin-left:30;" href = "#location"> 🌐️Location </a>
	
		</div>	
		
		<div class = "centernav" style = "float:center;">
	
			<img src = "{% static 'SkyLantern.png' %}" style = "flaot;center; margin-left:550; margin-top:70; height:300; width:300" alt = "skylantern.png" >
		
		</div>
		
	</div>
	<div style = "float:right; background-color:grey; color:brown; padding-left:50">
		
		{% block content %}
		
		{% endblock %}
		
	</div>
	
</body>

</html>
