<! DOCTYPE html>

<html lang = "en">

<head>

	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	
	<title>Anonymous</title>
	
	{% block stylesheet %}{% endblock %}
</head>

<body bgcolor = "black">
	{% load static %}
		
		<img src = "{% static 'SkyLantern.png' %}" style = "height:120; width:100" alt = "logo" >
		
	<div style = "float:right; background-color:grey; color:brown; padding-left:50">
		
		{% block content %}
		
		{% endblock %}
		
	</div>
	
</body>

</html>
