<! DOCTYPE html>

<html lang = "en">

{% load static %}

<head>

	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	
	<title> {% block title %}{% endblock title %} </title>
	
</head>

<body style = "background-color:black; height:100px; width:device-width">
	
	<div class = "topnav" style = "width:device-width; background-color:black;">
		
		<a class = "active" style = "color:orange;" href = "/home"> Home </a>
		<a style = "color:orange; margin-left:20;" href = "/"> ️Contact </a>
		<a style = "color:orange; margin-left:20;" href = "#location"> Location </a>
		<a style = "color:orange; margin-left:20;" href = "#chatnovel"> ChatNovel </a>
	</div>	
		
	<div class = "centernav" style = "float:center;">
	
		<img src = "{% static 'skylantern.jpg' %}" style = "flaot;center; height:100; width:100; margin:50" alt = "skylantern.png" >
		
	</div>

	<div style = "float:right; background-color:grey; color:brown; padding-left:50">
		
		{% block content %}
		
		{% endblock %}
		
	</div>
	
</body>

</html>
